.index_container {
  display: flex;
  flex-direction: column;
  .murinal_image {
    border-radius: 4px;
    border: 2px solid black;
  }
  .murinal_desc {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 20px;
    }
  }
}
